<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App: groups</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/groupsStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">

</head>
<body>
<main>
    <div class="groupLogo">
        Create your task groups:
    </div>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <!--/*@thymesVar id="groups" type="java.util.List<pl.todoapp.MarcinRogozToDoApp.model.projection.GroupReadModel>"*/-->
    <dl th:each="group : ${groups}" class="Bd P(10px)">
        <dt>
            <label class="groupDesc">
                <input type="checkbox" />
                <span th:text="${group.description}"></span>
                <small th:text="|(${group.deadline})|"></small>
            </label>
            <hr class="M(0)" />
        </dt>
        <dd>
            <a th:href="@{/tasks.html(group=${group.id})}">
                <ul class="P(0)">
                    <li th:each="task : ${group.tasks}">
                        <span class="taskDesc" th:unless="${task.done}" th:text="${task.description}">Desc</span>
                        <del th:if="${task.done}" th:text="${task.description}"></del>
                    </li>
                </ul>
            </a>
        </dd>
    </dl>
    <fieldset>
        <legend>New group</legend>
        <!--/*@thymesVar id="groups" type="pl.todoapp.MarcinRogozToDoApp.model.projection.GroupWriteModel"*/-->
        <form action="#" method="post" th:action="@{/groups}" th:object="${group}">
            <p class="errorForm" th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
            <label class="groupDescLabel">Description of your new group:
                <input type="text" th:field="*{description}" th:errorclass="'Bdc(red)'"/>
            </label>
            <fieldset class="taskFieldset" th:each="task,taskStat : *{tasks}">
                <legend th:text="|Zadanie ${taskStat.index + 1}|"></legend>
                <label>Task description:
                    <input type="text" th:field="*{tasks[__${taskStat.index}__].description}"
                           th:errorclass="'Bdc(red)'" />
                </label>
                <br>
                <label>Deadline:
                    <input type="datetime-local" th:field="*{tasks[__${taskStat.index}__].deadline}"
                           th:errorclass="'Bdc(red)'" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" />
                </label>
            </fieldset>
            <div>
                <button type="submit" name="addTask">+</button>
            </div>
            <p>
                <button type="submit">Dodaj</button>
                <button type="reset">Wyczyść</button>
            </p>
        </form>
    </fieldset>
</main>
</body>
</html>
