<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/indexStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
</head>
<body>
    <header>
        <p>
            Organize your workflow!
        </p>
        <div sec:authorize="hasRole('ADMIN')">
            <a href="/projects">Projects</a>
        </div>
        <div>
            <a href="/groups">Groups</a>
        </div>
       <div>
            <a href="/tasks.html">Tasks</a>
       </div>
        <div>
            <a href="/register">Register</a>
        </div>
    </header>
</body>
</html>
