<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">

</head>
<body>
    <header>
        <p>
            Doing all the things!
        </p>
        <nav>
            <ul>
                <li>
                    <a href="/projects">Projekty</a>
                </li>
                <li>
                    <a href="/groups">Grupy</a>
                </li>
                <li>
                    <a href="../static/tasks.html">Zadania</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>
