<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App: projects</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
    <main>
        <!--/*@thymesVar id="project" type="java.lang.String"*/-->
        <!-- Bierzemy atrybut z modelu i go wyświeltamy -->
        <!-- th:if mówi kiedy dany znacznik ma się pojawić -->
        <!-- Message pojawia się tylko wtedy kiedy jest różne od nulla -->
        <h1 th:if="${message != null}" th:text="${message}"></h1>
        <!-- th:action pozwala na definiowanie akcji w formularzu
         nadpisanie tego co wpisane jest w method
         w th można podać wyrażenia
         adresy definujemy @, czyli gdzie uderzamy action
         trzeba dodać post mapping do kontrolera project -->

        <!-- musimy powiedzieć formularzowi jaki obiekt jest obecnie procesowany -->
        <!--/*@thymesVar id="project" type="pl.todoapp.MarcinRogozToDoApp.model.projection.ProjectWriteModel"*/-->
        <form action="#" method="post" th:action="@{/projects}" th:object="${project}">
        <fieldset>
            <legend>Nowy Projekt</legend>
            <label>Opis
                                           <!-- pole z opisem -->
                <!-- skąd mamy wiedzieć że project jest w HTML - skąd go wziąć - odpowiedzią jest MVC -->
                <!-- chodzi o model jako łącznik między kontrolerem a widokiem -->
                <input type="text" th:field="*{description}"/>
            </label>
                <!-- Dla każdego kroku możemy wygenerować fieldset -->
                <!-- ':' - zwraca nam też statystyki dotyczące kroków -->
                <fieldset th:each="step, stepStat : *{steps}">
                    <!-- Legend wygeneruje nam indeksy od 0 do x w zależności od tego ile mamy kroków -->
                    <legend th:text="|Krok ${stepStat.index + 1}|"></legend>
                    <!--<legend>Krok 1</legend>-->
                    <label>Opis
                        <!-- nie dostaniemy null pointer exception bo wiemy, że istnieje krok - dodajemy go w konstruktorze -->
                        <!-- Żeby użyć indeksów trzeba dodać __${stepStat.index}__ -->
                        <input type="text" th:field="*{steps[__${stepStat.index}__].description}" />
                    </label>
                    <label>Dni do końca projektu
                        <input type="number" th:field="*{steps[__${stepStat.index}__].daysToDeadLine}" />
                    </label>
                </fieldset>
            <div>
                <!-- dodaje przycisk + do dodania projektu -->
                <button type="submit" name="addStep">+</button>
            </div>
        </fieldset>
            <!-- Dodajemy 2 przyciski -->
            <p>
                <button type="submit">Dodaj</button>
                <button type="reset">Wyczyść</button>
            </p>
        </form>
    </main>
</body>
</html>
