<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App: projects</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
    <main>
        <!-- th:action pozwala na definiowanie akcji w formularzu
         nadpisanie tego co wpisane jest w method
         w th można podać wyrażenia
         adresy definujemy @, czyli gdzie uderzamy action
         trzeba dodać post mapping do kontrolera project -->

        <!-- musimy powiedzieć formularzowi jaki obiekt jest obecnie procesowany -->
        <!--/*@thymesVar id="project" type="pl.todoapp.MarcinRogozToDoApp.model.projection.ProjectWriteModel"*/-->
        <form action="#" method="post" th:action="@{/projects}" th:object="${project}">
        <fieldset>
            <legend>Nowy Projekt</legend>
            <label>Opis
                                           <!-- pole z opisem -->
                <!-- skąd mamy wiedzieć że project jest w HTML - skąd go wziąć - odpowiedzią jest MVC -->
                <!-- chodzi o model jako łącznik między kontrolerem a widokiem -->
                <input type="text" th:field="*{description}"/>
            </label>
        </fieldset>
        </form>
    </main>
</body>
</html>
