<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App: projects</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <!-- Atomic CSS -->
    <style>
        .Bd {
            border: solid 1px black;
        }
        .P\(0\) {
            padding: 0;
        }
        .P\(10px\) {
            padding: 10px;
        }
        .Bdc\(red\) {
            border-color: red !important;
        }
        .C\(red\) {
            color: red;
        }

    </style>
</head>
<body>
    <main>
        <!--/*@thymesVar id="project" type="java.lang.String"*/-->
        <!-- Bierzemy atrybut z modelu i go wyświeltamy -->
        <!-- th:if mówi kiedy dany znacznik ma się pojawić -->
        <!-- Message pojawia się tylko wtedy kiedy jest różne od nulla -->
        <h1 th:if="${message != null}" th:text="${message}"></h1>

        <!-- Powtarzamy listę tyle razy ile jest projektów -->
        <!--/*@thymesVar id="projects" type="pl.todoapp.MarcinRogozToDoApp.model.Project"*/-->
        <dl th:each="project : ${projects}" class="Bd P(10px)">
            <!-- Thymeleaf procesuje szablon zanim jest on zwracany do użytkownika -->
            <dt th:text="${project.description}">...</dt>
            <!-- zamiast pisać wszędzie th:if można pisać data-th-if - wtedy nie musimy dawać xmlns:th="http://www.thymeleaf.org" -->
            <dd>
                <ul class="P(0)">
                    <li th:each="step : ${project.steps}" th:text="|${step.description} (${step.daysToDeadLine} dni)|"></li>
                </ul>
            </dd>
        </dl>

        <!-- th:action pozwala na definiowanie akcji w formularzu
         nadpisanie tego co wpisane jest w method
         w th można podać wyrażenia
         adresy definujemy @, czyli gdzie uderzamy action
         trzeba dodać post mapping do kontrolera project -->

        <!-- musimy powiedzieć formularzowi jaki obiekt jest obecnie procesowany -->
        <!--/*@thymesVar id="project" type="pl.todoapp.MarcinRogozToDoApp.model.projection.ProjectWriteModel"*/-->
        <form action="#" method="post" th:action="@{/projects}" th:object="${project}">
            <!-- Jeżeli w formularzu mamy błąd -->
            <!-- Pola błędne będą w kolorze czerwonym! -->
            <p class="C(red)" th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>
        <fieldset>
            <legend>Nowy Projekt</legend>
            <label>Opis
                                           <!-- pole z opisem -->
                <!-- skąd mamy wiedzieć że project jest w HTML - skąd go wziąć - odpowiedzią jest MVC -->
                <!-- chodzi o model jako łącznik między kontrolerem a widokiem -->
                <input type="text" th:field="*{description}" th:errorclass="'Bdc(red)'"/>
            </label>
                <!-- Dla każdego kroku możemy wygenerować fieldset -->
                <!-- ':' - zwraca nam też statystyki dotyczące kroków -->
                <fieldset th:each="step, stepStat : *{steps}">
                    <!-- Legend wygeneruje nam indeksy od 0 do x w zależności od tego ile mamy kroków -->
                    <legend th:text="|Krok ${stepStat.index + 1}|"></legend>
                    <!--<legend>Krok 1</legend>-->
                    <label>Opis
                        <!-- nie dostaniemy null pointer exception bo wiemy, że istnieje krok - dodajemy go w konstruktorze -->
                        <!-- Żeby użyć indeksów trzeba dodać __${stepStat.index}__ -->
                        <input type="text" th:field="*{steps[__${stepStat.index}__].description}" th:errorclass="'Bdc(red)'"/>
                    </label>
                    <label>Dni do końca projektu
                        <input type="number" th:field="*{steps[__${stepStat.index}__].daysToDeadLine}" th:errorclass="'Bdc(red)'"/>
                    </label>
                </fieldset>
            <div>
                <!-- dodaje przycisk + do dodania projektu -->
                <button type="submit" name="addStep">+</button>
            </div>
            <!-- Dodajemy 2 przyciski -->
            <p>
                <button type="submit">Dodaj</button>
                <button type="reset">Wyczyść</button>
            </p>
        </fieldset>
        </form>
    </main>
</body>
</html>
