<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List: Register</title>
</head>
<body>
    <!--/*@thymesVar id="user" type="pl.todoapp.MarcinRogozToDoApp.model.projection.UserWriteModel"*/-->
    <form action="#" method="POST" th:action="@{/register}" th:object="${user}">
        <div>
            <label>Email:
                <input type="email" th:field="${user.email}" />
            </label>
        </div>
        <div>
            <label>Password:
                <input type="password" th:field="${user.password}" />
            </label>
        </div>
        <button type="submit">Register!</button>
    </form>
</body>
</html>
